<%- include("header") -%>
    <h1 class="my-5">WELCOME TO JAYANT'S ONLINE SHOPPING STORE</h1>
    <h2>The awesome online store</h2>
    <p>
     <b> Welcome Folks!!... you can search through more than 2 crore products.
      If u can't find something here, u ll not get anywhere!!!!!!!</b>
    </p>
    <p>
        Author: <b>Jayant</b>
    </p>
    <p>
       <b> Tech stack:</b>
        <ul>
            <li> JS</li>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    </p>
  <%- include("footer") -%>

