<%- include( "header" ) -%>
<h1 class="my-5">
    List of Products
    <br />
    <small class="h4">The Awesome Online Store</small>
</h1>
<div>
   <b> We need to fetch and show a list of products</b>
    <li>Washing Machine</li>
    <li>Refrigerator</li>
    <li>Sofa</li>
    <li>Bed</li>
</div>
<%- include( "footer" ) -%>